.Color-0 { background-color: #f14318 }
.Color-1 { background-color: #c06200 }
.Color-2 { background-color: #b18d00 }
.Color-3 { background-color: #85970c }
.Color-4 { background-color: #51a028 }
.Color-5 { background-color: #009c8e }
.Color-6 { background-color: #0079bf ; color: #C7EAFF}
.Color-7 { background-color: #00f    ; color: #D8D8FF }
.Color-8 { background-color: #2950a4 ; color: #BDD2FF }
.Color-9 { background-color: #6149af ; color: #E2D9FF }
.Color-10{ background-color: #7b7c80 ; color: #BDC8D4 }
.Color-11{ background-color: #393b40 ; color: #BDC8D4 }
.Color-12{ background-color: #ff0300 }
.Color-13{ background-color: #c0bb64 }
.Color-14{ background-color: #a7bf00 }
.Color-15{ background-color: #78c725 }
.Color-16{ background-color: #36c400 }
.Color-17{ background-color: #00bfaf }
.Color-18{ background-color: #00a3f1 }
.Color-19{ background-color: #4e7ee7 }
.Color-20{ background-color: #8769e7 }
.Color-21{ background-color: #a448af }
.Color-22{ background-color: #b93c69 }
.Color-23{ background-color: #985731 }
.Color-24{ background-color: #fa6d00 }
.Color-25{ background-color: #bffc00 }
.Color-26{ background-color: #83ff5e }
.Color-27{ background-color: #00ff09 }
.Color-28{ background-color: #00ffa6 }
.Color-29{ background-color: #4effe8 }
.Color-30{ background-color: #00e9ff }
.Color-31{ background-color: #87c4ff }
.Color-32{ background-color: #8fa5ff }
.Color-33{ background-color: #c979f4 } /* = Color-34 */
.Color-34{ background-color: #c979f4 } /* = Color-33 */
.Color-35{ background-color: #ff32d6 }
.Color-36{ background-color: #ffa609 }
.Color-37{ background-color: #fff107 }
.Color-38{ background-color: #e4f500 }
.Color-39{ background-color: #ddc400 }
.Color-40{ background-color: #c09e5f }
.Color-41{ background-color: #88b57b }
.Color-42{ background-color: #85c2ba }
.Color-43{ background-color: #9ab3c5 }
.Color-44{ background-color: #83a5c3 }
.Color-45{ background-color: #c88b7b }
.Color-46{ background-color: #f43e7f }
.Color-47{ background-color: #ff94a5 }
.Color-48{ background-color: #ffa370 }
.Color-49{ background-color: #ffef9b }
.Color-50{ background-color: #d2e594 }
.Color-51{ background-color: #bad16f }
.Color-52{ background-color: #a9aaac }
.Color-53{ background-color: #d3fde0 }
.Color-54{ background-color: #cbf1f9 }
.Color-55{ background-color: #c3bde4 } /* = Color-56 */
.Color-56{ background-color: #c3bde4 } /* = Color-55 */
.Color-57{ background-color: #d0d0d1 }
.Color-58{ background-color: #dfe6e5 }
.Color-59{ background-color: #fff }

.BorderColor-0 { background-color: #f14318 }
.BorderColor-1 { border-color: #c06200 }
.BorderColor-2 { border-color: #b18d00 }
.BorderColor-3 { border-color: #85970c }
.BorderColor-4 { border-color: #51a028 }
.BorderColor-5 { border-color: #009c8e }
.BorderColor-6 { border-color: #0079bf }
.BorderColor-7 { border-color: #00f }
.BorderColor-8 { border-color: #2950a4 }
.BorderColor-9 { border-color: #6149af }
.BorderColor-10{ border-color: #7b7c80 }
.BorderColor-11{ border-color: #393b40 }
.BorderColor-12{ border-color: #ff0300 }
.BorderColor-13{ border-color: #c0bb64 }
.BorderColor-14{ border-color: #a7bf00 }
.BorderColor-15{ border-color: #78c725 }
.BorderColor-16{ border-color: #36c400 }
.BorderColor-17{ border-color: #00bfaf }
.BorderColor-18{ border-color: #00a3f1 }
.BorderColor-19{ border-color: #4e7ee7 }
.BorderColor-20{ border-color: #8769e7 }
.BorderColor-21{ border-color: #a448af }
.BorderColor-22{ border-color: #b93c69 }
.BorderColor-23{ border-color: #985731 }
.BorderColor-24{ border-color: #fa6d00 }
.BorderColor-25{ border-color: #bffc00 }
.BorderColor-26{ border-color: #83ff5e }
.BorderColor-27{ border-color: #00ff09 }
.BorderColor-28{ border-color: #00ffa6 }
.BorderColor-29{ border-color: #4effe8 }
.BorderColor-30{ border-color: #00e9ff }
.BorderColor-31{ border-color: #87c4ff }
.BorderColor-32{ border-color: #8fa5ff }
.BorderColor-33{ border-color: #c979f4 } /* = Color-34 */
.BorderColor-34{ border-color: #c979f4 } /* = Color-33 */
.BorderColor-35{ border-color: #ff32d6 }
.BorderColor-36{ border-color: #ffa609 }
.BorderColor-37{ border-color: #fff107 }
.BorderColor-38{ border-color: #e4f500 }
.BorderColor-39{ border-color: #ddc400 }
.BorderColor-40{ border-color: #c09e5f }
.BorderColor-41{ border-color: #88b57b }
.BorderColor-42{ border-color: #85c2ba }
.BorderColor-43{ border-color: #9ab3c5 }
.BorderColor-44{ border-color: #83a5c3 }
.BorderColor-45{ border-color: #c88b7b }
.BorderColor-46{ border-color: #f43e7f }
.BorderColor-47{ border-color: #ff94a5 }
.BorderColor-48{ border-color: #ffa370 }
.BorderColor-49{ border-color: #ffef9b }
.BorderColor-50{ border-color: #d2e594 }
.BorderColor-51{ border-color: #bad16f }
.BorderColor-52{ border-color: #a9aaac }
.BorderColor-53{ border-color: #d3fde0 }
.BorderColor-54{ border-color: #cbf1f9 }
.BorderColor-55{ border-color: #c3bde4 } /* = Color-56 */
.BorderColor-56{ border-color: #c3bde4 } /* = Color-55 */
.BorderColor-57{ border-color: #d0d0d1 }
.BorderColor-58{ border-color: #dfe6e5 }
.BorderColor-59{ border-color: #fff }