body {
	font-family: Arial, sans-serif;
}

.Color-0 { background-color: #f14318 }
.Color-1 { background-color: #c06200 }
.Color-2 { background-color: #b18d00 }
.Color-3 { background-color: #85970c }
.Color-4 { background-color: #51a028 }
.Color-5 { background-color: #009c8e }
.Color-6 { background-color: #0079bf }
.Color-7 { background-color: #00f }
.Color-8 { background-color: #2950a4 }
.Color-9 { background-color: #6149af }
.Color-10{ background-color: #7b7c80 }
.Color-11{ background-color: #393b40 }
.Color-12{ background-color: #ff0300 }
.Color-13{ background-color: #c0bb64 }
.Color-14{ background-color: #a7bf00 }
.Color-15{ background-color: #78c725 }
.Color-16{ background-color: #36c400 }
.Color-17{ background-color: #00bfaf }
.Color-18{ background-color: #00a3f1 }
.Color-19{ background-color: #4e7ee7 }
.Color-20{ background-color: #8769e7 }
.Color-21{ background-color: #a448af }
.Color-22{ background-color: #b93c69 }
.Color-23{ background-color: #985731 }
.Color-24{ background-color: #fa6d00 }
.Color-25{ background-color: #bffc00 }
.Color-26{ background-color: #83ff5e }
.Color-27{ background-color: #00ff09 }
.Color-28{ background-color: #00ffa6 }
.Color-29{ background-color: #4effe8 }
.Color-30{ background-color: #00e9ff }
.Color-31{ background-color: #87c4ff }
.Color-32{ background-color: #8fa5ff }
.Color-33{ background-color: #c979f4 }
.Color-34{ background-color: #ff32d6 }
.Color-35{ background-color: #ffa609 }
.Color-36{ background-color: #fff107 }
.Color-37{ background-color: #e4f500 }
.Color-38{ background-color: #ddc400 }
.Color-39{ background-color: #c09e5f }
.Color-40{ background-color: #88b57b }
.Color-41{ background-color: #85c2ba }
.Color-42{ background-color: #9ab3c5 }
.Color-43{ background-color: #83a5c3 }
.Color-44{ background-color: #c88b7b }
.Color-45{ background-color: #f43e7f }
.Color-46{ background-color: #ff94a5 }
.Color-47{ background-color: #ffa370 }
.Color-48{ background-color: #ffef9b }
.Color-49{ background-color: #d2e594 }
.Color-50{ background-color: #bad16f }
.Color-51{ background-color: #a9aaac }
.Color-52{ background-color: #d3fde0 }
.Color-53{ background-color: #cbf1f9 }
.Color-54{ background-color: #c3bde4 }
.Color-55{ background-color: #d0d0d1 }
.Color-56{ background-color: #dfe6e5 }
.Color-57{ background-color: #fff }

.Track{
	background-color: #bdc8d4;
	border: solid 2px #7283a0;
}

.AudioClips {
	position: relative;
	height: 3em;
	width: 100%;
}

.AudioClip {
	position: absolute;
	height: 100%;
}

.AudioClip .Header {
	position: absolute;
	height: 19px;
	width: 100%;
	background: black;
}

.AudioClip .Header .Name {
	pointer-events: none;
	border: solid 1px #0a0d1f;
	color: #0a0d1f;
	font-size: 12px;
	overflow: hidden;
	font-weight: bold;
	padding: 1px;
}

.Measure {
	position: absolute;
	top: 19px;
	bottom: 0;
	/*border-left: dotted 1px black;*/
	font-size: 6px;
	text-align: center;
}

.Measure:hover {
	background: white;
}

/** Regroupement visuel par 4 mesures */
.Measure:nth-child(4n+1) {
	border-left: dashed 1px #7283a0;
}

/** Regroupement visuel par 4 mesures */
.AudioClip:first-child .Measure:first-child {
	border-left: none;
}